

// BREAKPOINTS
$breakpoints: ('small': 48em, 'medium': 62em, 'large': 75em) !default;


// COLORS
$col-primary-grey: #242328;
$col-primary-gold: #EBE9AC;
$col-secondary-gold: #817659;

// OPACITY
$opacity-medium: 77%;
$opacity-low: 28%;

// MARGINS
$mg-xxxl: 11rem;
$mg-xxl: 9rem;
$mg-xl: 7.5rem;
$mg-l: 6rem;
$mg-m: 3.5rem;
$mg-s: 2rem;
$mg-xs: 1rem;


// PADDINGS
$pd-s: 2em;
$pd-m: 3em;
$pd-l: 5em;

// FONT SIZE
$fz-xxl: 8rem;
$fz-xl: 6rem;
$fz-l:  4.5rem;
$fz-m: 4rem;
$fz-sm: 2.7rem;
$fz-s: 2.2rem;
$fz-xs: 1.8rem;
$fz-xxs: 1.5rem;
$fz-xxxs: 1.1rem;
